/* Track Matrix */
.year {
    width: 25%;
    float: left;
}

.year h3 {
    text-align: center;
    color: #455C4F;
}

.semester {
    width: 50%;
    float: left;
}

.semester:nth-child(odd) .semester-title {
    background-color: #B1FFAD;
}

.semester:nth-child(even) .semester-title {
    background-color: #EDB579;
}

.semester h3 {
    text-align: center;
    color: #455C4F;
}

.semester ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    min-height: 200px;
}

.semester li {
}

/* EFA Selection */

.efa-selector {
    display: inline-block;
}

.efa-selector h3 {
    color: #455C4F;
}

.efa-selector select {
    background: #BBBBEF;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
}

/* Course Item */
.course-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.course-container {
    min-height: 100px;
    margin-bottom: 5px;
}

.course-ok {
    background: #8AC007;
}

.course-ok > .error-toggle {
    display: none;
}

.course-ok > .course-error-content {
    display: none;
}

.course-warning {
    background: #efc10c;
}

.course-error {
    background: #fc3c3c;
}

.course-name {
    font-family: helvetica, sans-serif;
    color: #303030;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1pt;
    padding: 0px 2px 2px 2px;
}

.course-toggle {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    font-family: helvetica, sans-serif;
    color: #303030;
    font-size: 12px;
    text-decoration: none;
    padding: 0px;
}

.course-toggle:hover {
  text-decoration: none;
}

.info-toggle {
    background: #b2dbf7;
}

.info-toggle:hover {
    background: #3cb0fd;
}

.error-toggle {
    background: #ff7f7f;
}

.error-toggle:hover {
    background: #fc3c3c;
}

.course-info-content {
    height: 125px;
    overflow: auto;
    display: none;
    padding: 7px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
}

.course-error-content {
    height: 125px;
    overflow: auto;
    display: none;
    padding: 7px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
}
