/* General */
.quarter {
    width: 25%;
    float: left;
}

.half {
    width: 50%;
    float: left;
}

.fall {
    background-color: #B1FFAD;
}

.spring {
    background-color: #EDB579;
}

.semester ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    min-height: 200px;
}

.list-title {
    text-align: center;
    color: #455C4F;
}

.side-scroll {
    float: left;
    display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Modules */
#track-matrix {
    float: left;
    width: 70%;
    margin-right: 5%;
}

#efa-lists {
    float: right;
    width: 25%;
}


/* EFA Selection */
.efa-selector {
    display: inline-block;
}

.efa-selector h3 {
    color: #455C4F;
}

.efa-selector select {
    background: #BBBBEF;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
}

/* Course List */
.course-list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
}

.course-list li {
    min-height: 100px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}

.course-list a {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    font-family: helvetica, sans-serif;
    color: #303030;
    font-size: 12px;
    text-decoration: none;
    padding: 0px;
}

/* Course Item */
.course-ok {
    background: #8AC007;
}

.course-ok > .error-toggle {
    display: none;
}

.course-ok > .course-error-content {
    display: none;
}

.course-warning {
    background: #efc10c;
}

.course-error {
    background: #fc3c3c;
}

.course-name {
    font-family: helvetica, sans-serif;
    color: #303030;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1pt;
    padding: 0px 2px 2px 2px;
}

.course-toggle:hover {
  text-decoration: none;
}

.info-toggle {
    background: #b2dbf7;
}

.info-toggle:hover {
    background: #3cb0fd;
}

.error-toggle {
    background: #ff7f7f;
}

.error-toggle:hover {
    background: #fc3c3c;
}

.course-info-content {
    height: 125px;
    overflow: auto;
    display: none;
    padding: 7px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
}

.course-error-content {
    height: 125px;
    overflow: auto;
    display: none;
    padding: 7px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.29);
}

/* EFA Colors*/
.efa-bredth {
    color: #b216f1;
}

.efa-depth {
    color: #ff6a00;
}

.efa-upper {
    color: #efc10c;
}

.efa-technical {
    color: #00ff90;
}

.efa-general {
    color: #303030;
}

.course-bredth {
    border: 2px solid #b216f1;
}

.course-depth {
    border: 2px solid #ff6a00;
}

.course-upper {
    border: 2px solid #efc10c;
}

.course-technical {
    border: 2px solid #00ff90;
}

.course-general {
    border: 2px solid #303030;
}