@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <title>Block Scheduler</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Builder.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Modal.css" />
    <script src="~/Scripts/Track.js"></script>
    <script>
        $(document).ready(function () {
            Track.trackModel = new TrackModel();
            Track.view = new TrackView(Track.trackModel);
            Track.efaModel = new EFAModel(
            function (trackId) {
                Track.trackModel.loadTrack(trackId, function () {
                    Track.view.render();
                });
            },
            function (efaId) {
                Track.efaModel.loadEFA(efaId, function () {

                });
            });
        });
    </script>
</head>
<body>
    <div>
        <div class="efa-selector">
            <h3>Track Choices</h3>
            <select id="track-select"></select>
        </div>
        <div class="efa-selector">
            <h3>Suggested EFAs</h3>
            <select id="efa-select"></select>
        </div>
        <input id="efa-load" type="submit" value="Load">
    </div>
    <div id="track-matrix">
        @{
            int startYear = DateTime.Now.Year;
            for (int y = 0, s = 0; y < 4; y++, s += 2)
            {
                <div id="year-@(y)" class="quarter">
                    <h3 class='list-title'>@(startYear + y)-@(startYear + y + 1)</h3>
                    <div class="half">
                        <h3 class="list-title fall">Fall</h3>
                        <ul id="semester-@(s)" class="course-list"></ul>
                    </div>
                    <div class="half">
                        <h3 class="list-title spring">Spring</h3>
                        <ul id="semester-@(s+1)" class="course-list"></ul>
                    </div>
                </div>
            }
        }
    </div>
    <div id="efa-lists">
        <div>
            <h3 class="list-title efa-bredth">Bredth (0 / 1)</h3>
            <ul id="bredth-list" class="course-list side-scroll"></ul>
        </div>
        <div>
            <h3 class="list-title efa-depth">Depth (0 / 1)</h3>
            <ul id="depth-list" class="course-list side-scroll"></ul>
        </div>
        <div>
            <h3 class="list-title efa-upper">Upper-Level (0 / 2)</h3>
            <ul id="upper-list" class="course-list side-scroll"></ul>
        </div>
        <div>
            <h3 class="list-title efa-technical">Technical (0 / 3)</h3>
            <ul id="technical-list" class="course-list side-scroll"></ul>
        </div>
    </div>
</body>
</html>