@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Block Scheduler</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/Track.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Builder.css" />
    <script src="~/Scripts/Preq.js" type="text/javascript"></script>
    <script>
        //$(document).ready(function (e) {
        //    Preq.matrix = new TrackMatrix();

        //    $("#search").click(function (event) {
        //        Preq.matrix = new TrackMatrix();
        //        Preq.matrix.loadSeed($("#query").val());
        //    });
        //});

        $(window).load(function () {
            $('.course-container').hover(function () {
                $(this).animate({
                    width: 350,
                    height: 190,
                    top: -80,
                    left: -45
                }, 'fast');
                $(this).animate().css('box-shadow', '0 0 5px #000');
                $(this).css({
                    zIndex: 100
                });
            }, function () {
                $(this).animate().css('box-shadow', 'none')
                $(this).animate({
                    width: 120,
                    height: 40,
                    top: 0,
                    left: 0
                }, 'fast');
                $(this).css({
                    zIndex: 1
                });
            });

            var semesterIds = [];
            for (var i = 0; i < 8; i++) {
                semesterIds.push('#course-list-' + i);
            }
            var semesterSelector = semesterIds.join(',');
            var items = $(semesterSelector);
            items.sortable({
                connectWith: '.course-list'
            });
        });
    </script>
</head>
<body>
    <div>
        <div class="efa-selector">
            <h3>Track Choices</h3>
            <select>
                <option value="ECE">Electrical / Computer Engineering</option>
                <option value="EE">Electrical Engineering</option>
            </select>
        </div>
        <div class="efa-selector">
            <h3>Suggested EFAs</h3>
            <select>
                <option value="Software-Engineering">Software Engineering</option>
                <option value="Pre-Med">Pre-Med</option>
            </select>
        </div>
        <input id="load-efa" type="submit" value="Load">
    </div>
    <div id="track-matrix">
        @{
            int startYear = DateTime.Now.Year;
            for (int y = 0, s = 0; y < 4; y++, s+=2)
            {
                <div id="year-@(y)" class="year">
                    <h3>@(startYear+y)-@(startYear+y+1)</h3>
                    <div class="semester">
                        <h3>Fall</h3>
                        <ul id="course-list-@(s)" class="course-list">
                            <li class="course-item">
                                <div class="course-container">
                                    <div class="course-name">
                                        Operating Systems (055:136)
                                    </div>
                                    <div class="course-description">
                                        This course provides an introduction to the design and implementation of modern operating systems.
                                    </div>
                                </div>
                            </li>
                            <li class="course-item">
                                <div class="course-container">
                                    <div class="course-name">
                                        Operating Systems (055:136)
                                    </div>
                                    <div class="course-description">
                                        This course provides an introduction to the design and implementation of modern operating systems.
                                    </div>
                                </div>
                            </li>
                            <li class="course-item">
                                <div class="course-container">
                                    <div class="course-name">
                                        really really really long name
                                    </div>
                                    <div class="course-description">
                                        This course provides an introduction to the design and implementation of modern operating systems.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="semester">
                        <h3>Spring</h3>
                        <ul id="course-list-@(s+1)" class="course-list">
                            <li class="course-item">
                                <div class="course-container">
                                    <div class="course-name">
                                        Introduction To Digital Design (055:0136)
                                    </div>
                                    <div class="course-description">
                                        This course provides an introduction to the design and implementation of modern operating systems.
                                    </div>
                                </div>
                            </li>
                            <li class="course-item">
                                <div class="course-container">
                                    <div class="course-name">
                                        Operating Systems (055:136)
                                    </div>
                                    <div class="course-description">
                                        This course provides an introduction to the design and implementation of modern operating systems.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>