@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <title>Block Scheduler</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Builder.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Modal.css" />
    <script src="~/Scripts/Track.js"></script>
    <script>
        function createTrackQuery() {
            var choices = document.getElementById("trackChoices");
            var selection = choices.options[choices.selectedIndex].value;
            var shortNameMap = { Electrical: "EE", Computer: "ECE" };
            var shortName = shortNameMap[selection];
            Track.model.loadCurriculum(shortName, function (self) {
                Track.view.render();
            });
            $('#trackModal').hide();
        }

        $(document).ready(function () {
            Track.model = new TrackModel();
            Track.view = new TrackView(Track.model);
        });
    </script>
</head>
<body>
    <div>
        <div class="efa-selector">
            <h3>Track Choices</h3>
            <select>
                <option value="ECE">Electrical / Computer Engineering</option>
                <option value="EE">Electrical Engineering</option>
            </select>
        </div>
        <div class="efa-selector">
            <h3>Suggested EFAs</h3>
            <select>
                <option value="Software-Engineering">Software Engineering</option>
                <option value="Pre-Med">Pre-Med</option>
            </select>
        </div>
        <input id="load-efa" type="submit" value="Load">
    </div>
    <div id="track-matrix">
        @{
            int startYear = DateTime.Now.Year;
            for (int y = 0, s = 0; y < 4; y++, s+=2)
            {
                <div id="year-@(y)" class="year">
                    <h3>@(startYear+y)-@(startYear+y+1)</h3>
                    <div class="semester">
                        <h3 class="semester-title">Fall</h3>
                        <ul id="course-list-@(s)" class="course-list">
                            @*<li class="course-container">
                                <h3 class="course-name">Engineer Math IV: Differential Equations (MATH:2560)</h3>
                                <a id="course-toggle-info-0" class="course-toggle info-toggle" href="#">Description</a>
                                <p id="course-content-info-0" class="course-content">Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher    </p>
                                <a id="course-toggle-error-0" class="course-toggle error-toggle" href="#">Error</a>
                                <p id="course-content-error-0" class="course-content">
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                </p>

                            </li>
                            <li class="course-container">
                                <h3 class="course-name">Engineer Math IV: Differential Equations (MATH:2560)</h3>
                                <a id="course-toggle-info-1" class="course-toggle info-toggle" href="#">Description</a>
                                <p id="course-content-info-1" class="course-content">Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher    </p>
                                <a id="course-toggle-error-1" class="course-toggle error-toggle" href="#">Error</a>
                                <p id="course-content-error-1" class="course-content">
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                </p>
                            </li>*@
                        </ul>
                    </div>
                    <div class="semester">
                        <h3 class="semester-title">Spring</h3>
                        <ul id="course-list-@(s+1)" class="course-list">
                            @*<li class="course-container">
                                <h3 class="course-name">Engineer Math IV: Differential Equations (MATH:2560)</h3>
                                <a id="course-toggle-info-2" class="course-toggle info-toggle" href="#">Description</a>
                                <p id="course-content-info-2" class="course-content">Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher    </p>
                                <a id="course-toggle-error-2" class="course-toggle error-toggle" href="#">Error</a>
                                <p id="course-content-error-2" class="course-content">
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                    Ordinary differential equations and applications, with integrated use of computing, student projects; first-order equations; higher order linear equations; systems of linear equations, Laplace transforms; introduction to nonlinear equations and systems, phase plane, stability.
                                </p>
                            </li>*@
                        </ul>
                    </div>
                </div>
            }
        }

        @* modal *@
        <div class="modal hide in" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-backdrop fade in">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="myModalLabel">Select Track</h2>
                        </div>
                        <div class="modal-body">
                            <select id="trackChoices">
                                <option>Electrical</option>
                                <option>Computer</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="trackSave" class="btn btn-primary" onclick="createTrackQuery()">Save changes</button>
                        </div>
                    </div>
                    <button class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#trackModal').hide()">X</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>