@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Block Scheduler</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Builder.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Modal.css" />
    <script src="~/Scripts/Preq.js" type="text/javascript"></script>
    <style>
        #sortable1, #sortable2 {
            border: 1px solid #eee;
            width: 142px;
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
        }
        #sortable1 li, #sortable2 li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }
    </style>
    <script>
        function createTrackQuery() {
            var choices = document.getElementById("trackChoices");
            var selection = choices.options[choices.selectedIndex].value;

            if (selection == "Electrical") {
                Preq.matrix = new TrackMatrix();
                //Preq.matrix.loadSeed("ECE");
                $('#trackModal').hide();
            }
            else {
                //Preq.matrix = new TrackMatrix();
                //Preq.matrix.loadSeed(COMPUTER);  //Not sure what COMPUTER needs to be here
            }
        }

        $(function () {
            $("#sortable1, #sortable2").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
</head>
<body>
    <div>
        <div class="efa-selector">
            <h3>Track Choices</h3>
            <select>
                <option value="ECE">Electrical / Computer Engineering</option>
                <option value="EE">Electrical Engineering</option>
            </select>
        </div>
        <div class="efa-selector">
            <h3>Suggested EFAs</h3>
            <select>
                <option value="Software-Engineering">Software Engineering</option>
                <option value="Pre-Med">Pre-Med</option>
            </select>
        </div>
        <input id="load-efa" type="submit" value="Load">
    </div>
    <div id="track-matrix">
        @{
            int startYear = DateTime.Now.Year;
            for (int y = 0, s = 0; y < 4; y++, s+=2)
            {
                <div id="year-@(y)" class="year">
                    <h3>@(startYear+y)-@(startYear+y+1)</h3>
                    <div class="semester">
                        <h3>Fall</h3>
                        <ul id="course-list-@(s)" class="course-list">
                        </ul>
                    </div>
                    <div class="semester">
                        <h3>Spring</h3>
                        <ul id="course-list-@(s+1)" class="course-list">
                        </ul>
                    </div>
                </div>
            }
        }

        <ul id="sortable1" class="connectedSortable">
          <li class="ui-state-default">Item 1</li>
          <li class="ui-state-default">Item 2</li>
          <li class="ui-state-default">Item 3</li>
          <li class="ui-state-default">Item 4</li>
          <li class="ui-state-default">Item 5</li>
        </ul>
 
        <ul id="sortable2" class="connectedSortable">
          <li class="ui-state-highlight">Item 1</li>
          <li class="ui-state-highlight">Item 2</li>
          <li class="ui-state-highlight">Item 3</li>
          <li class="ui-state-highlight">Item 4</li>
          <li class="ui-state-highlight">Item 5</li>
        </ul>

        @* modal *@
        <div class="modal hide in" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-backdrop fade in">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="myModalLabel">Select Track</h2>
                        </div>
                        <div class="modal-body">
                            <select id="trackChoices">
                                <option>Electrical</option>
                                <option>Computer</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="trackSave" class="btn btn-primary" onclick="createTrackQuery()">Save changes</button>
                        </div>
                    </div>
                    <button class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#trackModal').hide()">X</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>