@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Block Scheduler</title>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Track.css" />
    <script src="~/Scripts/Preq.js" type="text/javascript"></script>
    <script>
        $(document).ready(function (e) {
            Preq.matrix = new TrackMatrix();

            $("#search").click(function (event) {
                //Preq.matrix.loadNodes($("#query").val());
                Preq.matrix.seedCurriculum($("#query").val());
            });
        });
    </script>

    <script></script>
</head>
<body>
    <div class="search">
        Section: <input id="query" type="text" name="Query"/>
        <input id="search" type="submit" value="Search">
    </div>

    <div id="matrix" class="track">
        <h3>Track</h3>
        <ul id="semester-0" class="semester"></ul>
        <ul id="semester-1" class="semester"></ul>
        <ul id="semester-2" class="semester"></ul>
        <ul id="semester-3" class="semester"></ul>
        <ul id="semester-4" class="semester"></ul>
        <ul id="semester-5" class="semester"></ul>
        <ul id="semester-6" class="semester"></ul>
        <ul id="semester-7" class="semester"></ul>
    </div>
</body>
</html>