@{
    ViewBag.Title = "Track Builder";
}

<!DOCTYPE html>

<html>
<head>
    <title>Block Scheduler</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Builder.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Modal.css" />
    <script src="~/Scripts/Track.js"></script>
    <script>
        function createTrackQuery() {
            var choices = document.getElementById("trackChoices");
            var selection = choices.options[choices.selectedIndex].value;
            var shortNameMap = { Electrical: "EE", Computer: "ECE" };
            var shortName = shortNameMap[selection];
            Track.model.loadCurriculum(shortName, function (self) {
                Track.view.render();
            });
            $('#trackModal').hide();
        }

        $(document).ready(function () {
            Track.efa = new EFA();
            Track.efa.loadSeed();
            Track.model = new TrackModel();
            Track.view = new TrackView(Track.model);
        });
    </script>
</head>
<body>
    <div>
        <div class="efa-selector">
            <h3>Track Choices</h3>
            <select id="track-select"></select>
        </div>
        <div class="efa-selector">
            <h3>Suggested EFAs</h3>
            <select id="efa-select"></select>
        </div>
        <input id="load-efa" type="submit" value="Load">
    </div>
    <div id="track-matrix">
        @{
            int startYear = DateTime.Now.Year;
            for (int y = 0, s = 0; y < 4; y++, s += 2)
            {
                <div id="year-@(y)" class="quarter">
                    <h3 class='list-title'>@(startYear + y)-@(startYear + y + 1)</h3>
                    <div class="half">
                        <h3 class="list-title fall">Fall</h3>
                        <ul id="semester-@(s)" class="course-list"></ul>
                    </div>
                    <div class="half">
                        <h3 class="list-title spring">Spring</h3>
                        <ul id="semester-@(s+1)" class="course-list"></ul>
                    </div>
                </div>
            }
        }
    </div>
    <div id="efa-lists">
        <div id="efa-bredth">
            <h3 class="list-title efa-bredth">Bredth (0 / 1)</h3>
            <ul id="bredth-list" class="course-list side-scroll">
                <li id="course-CS:3320" class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
            </ul>
        </div>
        <div id="efa-bredth">
            <h3 class="list-title efa-depth">Depth (0 / 1)</h3>
            <ul id="bredth-list" class="course-list side-scroll">
                <li id="course-CS:3320" class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
            </ul>
        </div>
        <div id="efa-bredth">
            <h3 class="list-title efa-100">100-Level (0 / 2)</h3>
            <ul id="bredth-list" class="course-list side-scroll">
                <li id="course-CS:3320" class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
            </ul>
        </div>
        <div id="efa-bredth">
            <h3 class="list-title efa-technical">Technical (0 / 3)</h3>
            <ul id="bredth-list" class="course-list side-scroll">
                <li id="course-CS:3320" class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
            </ul>
        </div>
        <div id="efa-bredth">
            <h3 class="list-title efa-general">General (0 / 2)</h3>
            <ul id="bredth-list" class="course-list side-scroll">
                <li id="course-CS:3320" class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
                <li class='course-ok'>
                    <h3 class='course-name'>This is a class (055:136)</h3>
                    <a id='course-toggle-info-99' class='course-toggle info-toggle' href='#'>Description</a>
                    <p id='course-content-info-99' class='course-info-content'>Some Description</p>
                    <a id='course-toggle-error-99' class='course-toggle error-toggle' href='#'>Error</a>
                    <p id='course-content-error-99' class='course-error-content'></p>
                </li>
            </ul>
        </div>
    </div>
    @* modal *@
    @*<div class="modal hide in" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-backdrop fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="myModalLabel">Select Track</h2>
                    </div>
                    <div class="modal-body">
                        <select id="trackChoices">
                            <option>Electrical</option>
                            <option>Computer</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="trackSave" class="btn btn-primary" onclick="createTrackQuery()">Save changes</button>
                    </div>
                </div>
                <button class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#trackModal').hide()">X</button>
            </div>
        </div>
    </div>*@
</body>
</html>