@{
    ViewBag.Title = "Select Track";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select Track</title>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
</head>
<body>
    <h2>Success!</h2>
</body>
</html>