@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("ICON", "ICON", "Home")</li>
        <li>@Html.ActionLink("ISIS", "ISIS", "Home")</li>
        <li>@Html.ActionLink("Email", "Email", "Home")</li>
    </ul>
</aside>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Brandon:</span>
        <span>712.480.0560</span>
    </p>
    <p>
        <span class="label">Zeke:</span>
        <span>515.577.5194</span>
    </p>
    <p>
        <span class="label">Dominic:</span>
        <span>630.877.4132</span>
    </p>
    <p>
        <span class="label">Mario:</span>
        <span>630.877.4133</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Brandon:</span>
        <span>brandon-laidig@uiowa.edu</a></span>
    </p>
    <p>
        <span class="label">Zeke:</span>
        <span>ezekiel-gunnink@uiowa.edu</a></span>
    </p>
    <p>
        <span class="label">Dominic:</span>
        <span>dominic-zucco@uiowa.edu</span>
    </p>
    <p>
        <span class="label">Mario:</span>
        <span>mario-zucco@uiowa.edu</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Iowa City, IA 52242
    </p>
</section>