@{
    ViewBag.Title = "Home Page";
}
<h3>Welcome to the UI Scheduler</h3>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("ICON", "ICON", "Home")</li>
        <li>@Html.ActionLink("ISIS", "ISIS", "Home")</li>
        <li>@Html.ActionLink("Email", "Email", "Home")</li>
    </ul>
</aside>
    

    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
            Register a new account or login to an existing one by clicking the links above.
        </li>

        <li class="two">
            <h5>Begin Scheduling Your Courses</h5>
            Enter in your schedule and a few other personal options and let us do the work for you!
            @Html.ActionLink("View Courses", "Course", "Course")
        </li>

        <li class="three">
            <h5>Observe several options for your class schedule</h5>
            Given your information, we will produce several options for your course schedule from which you
            can choose.
        </li>
    </ol>