@{
    ViewBag.Title = "Block Scheduler";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Block Scheduler</title>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
    <script>
        $(document).ready(function (e) {
            $("#search").click(function (event) {
                $(".sectionData").empty();// clear previous data if any

                var sectionSubject = $("#sectionSearch").val();

                // find item
                var item = $(".sectionData");
                var url = item.data("url");
                // check url
                if (url && url.length > 0) {
                    document.getElementById('loadingGif').style.display = 'block';// show loading gif
                    // load partial view
                    item.load(url, "sectionSubject=" + sectionSubject,
                    function () {
                        document.getElementById('loadingGif').style.display = 'none';// on load hide gif
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div class="search">
        Section: <input id="sectionSearch" type="text" name="SectionBox"/>
        <input id="search" type="submit" value="Search">
    </div>
    <div class="searchResults">
        <div id="loadingGif" style="display:none">
            <img src="~/Images/ajax-loading.gif" />
        </div>
        <div id="searchData" class="sectionData" data-url="/Course/SearchSection">
        </div>
    </div>
</body>
</html>
