@{
    ViewBag.Title = "Courses";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course Search</title>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
    <script>
        $(document).ready(function (e) {
            $("#search").click(function (event) {
                $(".partialContents").empty();// clear previous data if any

                var course = $("#searchBox").val();// get college choice

                // find item
                var item = $(".partialContents");
                var url = item.data("url");
                // check url
                if (url && url.length > 0) {
                    document.getElementById('loadingGif').style.display = 'block';// show loading gif
                    // load partial view
                    item.load(url, "course=" + course,
                    function () {
                        document.getElementById('loadingGif').style.display = 'none';// on load hide gif
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div class="search">
        <input id="searchBox" type="text" name="SearchBox">
        <input id="search" type="submit" value="Search">
    </div>
    <div class="searchResults">
        <div id="loadingGif" style="display:none">
            <img src="~/Images/ajax-loading.gif" />
        </div>
        <div id="searchData" class="partialContents" data-url="/Course/SearchCourse">
        </div>
    </div>
</body>
</html>
